﻿body
{
}

.modalBackground
{
	background-color: Gray;
	filter: alpha(opacity=50); 
	opacity: 0.50;
}



.updateProgress
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	position: absolute;
	width: 160px;
	height: 20px;
	padding-top:6px;
	
	/*height: 65px;*/
}
