﻿.form  {
	 background-color:#B5B7A6;
	 width:100%;	
	 padding-top:25px;
	}
	
	
a {FONT: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; TEXT-DECORATION: none; color: #333333}
a:hover {color: #000000}



.barra{
	background-color:#5B6951;
	height: 15px;
	width:858px;
	

	color:#FFFFFF;
	font-size:12px;
	border-left:1px solid #FFFFFF;
	margin-bottom: 0px;
	border-style:double;
	border-width:1px;
	border-color:Black;
}


.barra_mouseover{
	background-color:#5B6951;
	height: 15px;
	width:auto;
	
	
	color: Black;
	font-size:12px;
	font-weight:bold;
	border-left:1px solid #FFFFFF;
	}


.barra_mouseout{
	background-color:#5B6951;
	height: 15px;
	width:auto;
	
	
	color:#FFFFFF;
	font-size:12px;
	border-left:1px solid #FFFFFF;
}




#header span#logo-text {
	position: absolute;
	margin: 0; padding: 0;
	font: bolder 2.8em 'Trebuchet MS', Arial, Sans-serif;
	letter-spacing: -2px;
	color: black;
	text-transform: none;
	
	/* change the values of top and right to adjust the position of the logo*/
	top: 10px; right: 5px;	
}


#header h2#slogan {
	position: absolute;
	margin: 0; padding: 0;
	font: bold 1em 'Trebuchet MS', Arial, Sans-serif;
	text-transform: none;
	letter-spacing: 1px;
	color: black;
	
	
	/* change the values of top and right to adjust the position of the slogan*/
	top: 50px; right:5px;		
}


#header span#logo-text_listado {
	position: absolute;
	margin: 0; padding: 0;
	font: bolder 2.8em 'Trebuchet MS', Arial, Sans-serif;
	letter-spacing: -2px;
	color: black;
	text-transform: none;
	
	/* change the values of top and right to adjust the position of the logo*/
	top: 25px; right: 5px;	
}


#header h2#slogan_listado {
	position: absolute;
	margin: 0; padding: 0;
	font: bold 1em 'Trebuchet MS', Arial, Sans-serif;
	text-transform: none;
	letter-spacing: 1px;
	color: black;
	
	
	/* change the values of top and right to adjust the position of the slogan*/
	top: 65px; right:5px;		
}




 .body_menor {	
 	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:10px;
	margin:0px 0 0 0;
	padding:0;	
	background-repeat:repeat;	
	background-color:#E2E2E2;
	color:#000000;	
}


.body_igual {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	margin:0px 0 0 0;
	padding:0;	
	background-repeat:repeat;	
	background-color:#E2E2E2;
	color:#000000;	
}


.body_mayor {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:11.5px;
	margin:0px 0 0 0;
	padding:0;	
	background-repeat:repeat;	
	background-color:#E2E2E2;
	color:#000000;	
}  



#container_font {
	width:98%; 
	height:20%; 
	float:left; 
	padding-left:10px; 
	background-color: black; 
	background:black;
}

.div_font {width:4%; float:left;}

.link_font {
	font-family: Jokerman; 
	font-size: large; 
	font-weight: bold;
	color:#666;
}
link_font:hover {color: #ff6600;}




/**********************************************************************************/
/* Inicio globos */
.Globo{
	padding:5px;
	/*font-weight: bold; */
	text-align:center;
	text-shadow: #CCCCCC 0px 1px 1px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.Globo.GlbYellow{
	background:#FFFFCC;
	border:1px solid #FFCC33;
}
.Globo.GlbRed{
	background:#FFEBE8;
	border:1px solid #DD3C10;
}
.Globo.GlbGreen{
	background:#E8FFEA;
	border:1px solid #15DD10;
}
.Globo.GlbBlue{
	background:#E9E8FF;
	border:1px solid #1015DD;
}
.Globo.GlbBlack{
	background:#ECECEC;
	border:1px solid #000000;
}
/* Fin globos */
/**********************************************************************************/