/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* fin del Reset */

/* General */
body {
background: #111 url('img/bg.jpg') no-repeat center top;
min-height: 70px;
margin: 0 auto;
font-family: Verdana;
font-size: 15px;
color: #333;
}

h2 {
font-family: Lucida Grande;
font-size: 30px;
letter-spacing: -1.5px;
text-align: center;
margin: 20px 0;
color: #222;
}

p {
margin: 20px 5px;
line-height: 1.25;
}

/* Estructura */
#contenido {
width: 275px;
margin: 0 auto;
}

.tooltip {
background: transparent url('img/tooltip.png') no-repeat;
width: 290px;
height: 300px;
padding: 20px 60px;
position: absolute;
margin: 55px -70px;
z-index: 1;
display: none;
opacity: 0;
filter: alpha(opacity = 0);
-moz-opacity:0;
}

#icono {
background: transparent url('img/icono.png') no-repeat;
height: 215px;
width: 275px;
position: absolute;
margin:350px auto;
}

#footer {
background: #121212 url('img/bgfooter.png') repeat-x;
height: 50px;
text-align: center;
margin-top: 635px;
color: #333;
font-size: 12px;
padding-top: 50px;
position: absolute;
width: 100%;
} 

#footer a {
color: #666;
}

#footer a:hover {
color: #ccc;
}



