﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="webfrmindex.aspx.vb" Inherits="web_tributaria.webfrmindex" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <link href="../css/generica.css" rel="stylesheet" type="text/css" />       
    <title>Sistema Tributario</title>
</head>
<body>
    <form id="form1" runat="server">
    <div align="center" style="height: 570px">
    
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
       
           <div>
                <img alt=""  src="../imagenes/backgroundImage.jpg"  style="width:30%;"/>
           </div>
        <br />
            <div style="width:45%; float:left; text-align:right; padding-right:5px;" >
                <a href="webfrmconsulta_b.aspx"  class="link">Ingreso Con Seguridad Basica</a>                
            </div>
            
            <div style="width:45%; float:right; text-align:left; padding-left:5px;" >
                <a href="webfrmconsulta_m.aspx" class="link">Ingreso Con Seguridad Media</a>                
            </div>
            
             <br />
             <br />
            <div style="height: 15px; font-weight: bold; font-size: small; text-align: center; font-family: 'Courier New', Courier, 'espacio sencillo'; " >NOTA: </div>
            <div align="center">
                  
                  &nbsp;
                  &nbsp; 
                  Se recomienda para una correcta visualización del Sitio Web mantener actualizados sus programas de navegación.
            </div>   
            
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    
    </div>
    </form>
</body>
</html>
