﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="webfrmerror.aspx.vb" Inherits="web_tributaria.webfrmerror" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <link href="../css/generica.css" rel="stylesheet" type="text/css" />       
        <title>Sistema tributario ::</title>
        <link rel="icon" href="../favicon.ico"  type="image/x-icon" />
        <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />

</head>
<body>
     <form id="form1" runat="server">
        <div align="center" style="height: 570px">
           
       
           <div>
                <img  src="../imagenes/error404.gif" alt="" width="361" height="330"  style="width:30%;"/>                
           </div>
            <br />
            <div style="width:100%; text-align:center; padding-right:5px;" >
                <a href="webfrmindex.aspx"  class="link">Ir al home</a>                
            </div>
            
          
            
        </div> 
             
    </form>
</body>
</html>

