﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="webfrmmantenimiento.aspx.vb" Inherits="web_tributaria.webfrmmantenimiento" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <link href="../css/generica.css" rel="stylesheet" type="text/css" />       
    <title>Sistema Tributario</title>
    <style type="text/css">

        .Estilo1 {color: #CC3300}

    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div align="center" style="height: 570px">
    
        <br />
      
      
       
        <div><img  src="../imagenes/mantenimiento.jpg" alt="" width="416" height="375"  
                style="width:25%;"/></div>
		
		<div class="Estilo1" style="height: 15px; font-weight: bold; font-size: small; text-align: center; font-family: 'Courier New', Courier, 'espacio sencillo'; " >
			<h3>Pagina en mantenimiento.		</h3>
		</div>
		
		
		<div style="height: 15px; font-size: small; text-align: center; font-family: 'Courier New', Courier, 'espacio sencillo';" >
			En estos momentos nos encontramos actualizado el sistema para poder brindarles un mejor servicio.		
		</div>
		
		<div style="height: 15px; font-size: small; text-align: center; font-family: 'Courier New', Courier, 'espacio sencillo';" >
			Disculpe las molestias.
		</div>
	     
            
	    <div style="height: 15px; font-weight: bold; font-size: small; text-align: center; font-family: 'Courier New', Courier, 'espacio sencillo'; " > 
			</div>
 			<asp:Label ID="lblNombreMunicipalidad" runat="server" Font-Bold="True"></asp:Label>
 			<br />
       
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    
    </div>
    </form>
</body>
</html>

