﻿.form  {
	 background-color:#666666;
	 width:100%;	
	 padding-top:25px;
	}


.link {
	color:#287BC1;
	background-color:inherit;
}


.barra{
	background:blue;
	height: 15px;
	width:858px;
	
	background-color:#287BC1;
	color:#FFFFFF;
	font-size:12px;
	border-left:1px solid #FFFFFF;
	margin-bottom: 0px;
	border-style:double;
	border-width:1px;
	border-color:Black;
}


.barra_mouseover{
	background-color:#287BC1;
	height: 15px;
	width:auto;
	
	
	color: Black;
	font-size:12px;
	font-weight:bold;
	border-left:1px solid #FFFFFF;
	}


.barra_mouseout{
	background-color:#287BC1;
	height: 15px;
	width:auto;
	
	
	color:#FFFFFF;
	font-size:12px;
	border-left:1px solid #FFFFFF;
}




#header span#logo-text {
	position: absolute;
	margin: 0; padding: 0;
	font: bolder 2.8em 'Trebuchet MS', Arial, Sans-serif;
	letter-spacing: -2px;
	color: black;
	text-transform: none;
	
	/* change the values of top and right to adjust the position of the logo*/
	top: 10px; right: 5px;	
}


#header h2#slogan {
	position: absolute;
	margin: 0; padding: 0;
	font: bold 1em 'Trebuchet MS', Arial, Sans-serif;
	text-transform: none;
	letter-spacing: 1px;
	color: black;
	
	
	/* change the values of top and right to adjust the position of the slogan*/
	top: 50px; right:5px;		
}


#header span#logo-text_listado {
	position: absolute;
	margin: 0; padding: 0;
	font: bolder 2.8em 'Trebuchet MS', Arial, Sans-serif;
	letter-spacing: -2px;
	color: black;
	text-transform: none;
	
	/* change the values of top and right to adjust the position of the logo*/
	top: 25px; right: 5px;	
}


#header h2#slogan_listado {
	position: absolute;
	margin: 0; padding: 0;
	font: bold 1em 'Trebuchet MS', Arial, Sans-serif;
	text-transform: none;
	letter-spacing: 1px;
	color: black;
	
	
	/* change the values of top and right to adjust the position of the slogan*/
	top: 65px; right:5px;		
}



