﻿
.fuente {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#58A746;
}


body {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	margin:0px 0 0 0;
	padding:0;	
	background-repeat:repeat;	
	background-color:#E2E2E2;
	color:#000000;	
}
.main{
	width:873px;
	margin:5px auto;	
	text-align:left;
	border:1px solid #807C7C;
	background-color:#FFFFFF;
	color:#000000;
	height: 494px;
}
form{
	margin:0;
	padding:0;
	height: 784px;
	width: 1283px;
}
input{
	width:115px;
	border:1px solid #807C7C;
	margin-left: 0px;
}
.inp1{
	float:left;
}
.inp2{
	float:left;
	padding:1px 5px 0px 5px;
	height:17px;
	border:1px solid #807C7C;
	margin:1px 0 0 5px;
	background-image:url('../imagenes/s_bg.jpg');
	background-repeat:repeat-x;
}
.right{
	float:left;
	width:520px;
	border-left:1px solid #807C7C;
	margin:10px 0;
	padding:0 10px;
	text-align:justify;
	height: 100px;
}

#header  {
	position: relative;
	height:65px;
	width:872px;	
    clear:left;
	margin: 0; padding: 0;
	top: 0px;
	left: 0px;	
}




a {
	color:#58A746;
	background-color:inherit;
}
a:hover{
	text-decoration:none;
}
.top{
	border:1px solid #807C7C;
	margin:5px;
	width:863px;
	height: 37px;
}
h1 {
	font-size:28px;
	position: relative;
	margin: 0px;
	color: #464646;
	top: 11px;
	left: 65px;
}


.h1 span {
	background: url(images/gradient-white.png) repeat-x;
	position: absolute;
	display: block;
	width: 100%;
	height: 31px;
}


h2{
	color:#58A746;
	background-color:inherit;
	font-size:14px;
	margin:0px 0 5px 0;
	padding:0;
}
h3{
	color:#666666;
	background-color:inherit;
	font-size:14px;
	margin:0px 0 5px 0;
	padding:0;
}


.title{
	text-align:left;
	text-indent:5;
	padding:0px 0px 0px 0px;
	/*width: 863px; */
	
	height: 49px;
	/*background-image: url('../imagenes/barra_cabecera.png'); */
	background-color: black;
	font-family:Arial;
	font-size:xx-large;
	color:#FFFFFF;
	font-weight:bold;
}


.title p{
	margin:5px 0 0 23px;
	padding:0;
}
.menu{
	position:absolute;
	top:87px;
	width:754px;
	margin:8px 3px 0px 3px;
	height:34px;
}
ul.navbar {
	list-style-type:none; float:left; display:block; width:100%; 
	margin:0;
	padding:0;
	background-image:url('../imagenes/m_bg1.jpg');
	background-repeat:repeat-x;
}
ul.navbar li{
	display:inline;
}
a.nav:link, a.nav:visited{
	display:block;
	float:left;
	padding:10px 20px;
	margin:0px; 
	text-decoration:none;	
	color:#FFFFFF;
	background-color:inherit;
	font-size:12px;
	border-left:1px solid #FFFFFF;
}
a.nav1:link, a.nav1:visited{
	display:block;
	float:left;
	padding:10px 20px;
	margin:0px; 
	text-decoration:none;
	background-color:#58A746;
	color:#FFFFFF;
	font-size:12px;
	border-left:1px solid #FFFFFF;
}

a.nav:hover {
	display:block;
	float:left;
	padding:10px 20px;
	margin:0px; 
	text-decoration:none;
	background-color:#58A746;
	color:#FFFFFF;
	font-size:12px;
	border-left:1px solid #FFFFFF;
}
a.nav:active {
	display:block;
	float:left;
	width:14.5%;
	padding:10px 20px;
	margin:0px; 
	text-decoration:none;
	background-color:#807C7C;
	color:#FFFFFF;
	font-size:12px;
	border-left:1px solid #FFFF
}

#footer{
	position:relative;
	top: 333px;
	left: -8px;
	height: 12px;
	width: 762px;
}

.footer{
	border:1px solid #807C7C;
	margin:5px 3px 5px 5px;
	padding:7px 5px;
	height:14px;
}
.fix{
	clear:left;
	height:14px;
}
.content{
	position:relative;
	width:860px;
	margin:0px 5px 5px 5px;
	border:1px solid #807C7C;
	top: 0px;
	left: 1px;
	height: 365px;
}


.content_dominio{
	position:relative;
	width:860px;
	margin:0px 5px 5px 5px;
	border:1px solid #807C7C;
	top: 0px;
	left: 1px;
	height: 380px;
}


ul.l_menu{
	list-style-type:none;
	padding:0;
	margin:5px 0;
	line-height:17px;
}
.cp1{
	float:left;	
}
.cp2{
	float:right;
	padding-right:5px;
	height: 36px;
	width: 156px;
}


.recomendaciones {
	font-family: Arial, Helvetica, sans-serif; 	
	color: #000000;
	height: 67px;
	padding:5px 0px 5px 0px;
}



.encabezado{
	background-image:url('../imagenes/barra.png');
	background-color:#58A746;
	color:#FFFFFF;
	font-size:12px;
	border-left:1px solid #FFFFFF;
}


.titulo1{
	background-image:url('../imagenes/barra.png');
	background-color:#58A746;
	color:#FFFFFF;
	font-size:14px;
	border-left:1px solid #FFFFFF;
}



.titulo{
	background-image:url('../imagenes/barra.png');
		
	background-color:#58A746;
	color:#FFFFFF;
	font-size:12px;
	border-left:1px solid #FFFFFF;
}


.degrade {
	/* background: url('../imagenes/gradient-dark.png') repeat-x; */
	position: absolute;
	top: 22px;
	left: 251px;
	
	width: 863px;
	height: 29px;
}