﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="webfrmcomprobantepago.aspx.vb" Inherits="web_tributaria.webfrmcomprobantepago" %>



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">

<script src="../../js/funciones.js" type="text/javascript"></script>

<script type="text/javascript">


function printit(){  
   window.print() ;  
}



    function imprimir(elemento) {
        var ficha = document.getElementById(elemento);
        var ventimp = window.open(' ', 'popimprimir');
        ventimp.document.write(ficha.innerHTML);
        ventimp.document.close();
        ventimp.print( );
        ventimp.close();
    } 


    function guardar(){
        return confirm('Para guardar o ver este listado debera tener instalado la ultima version de Acrobat Reader.\n¿Desea continuar?')
    }


    //Pregunto al Usuario si confirma el cierre de session   
    function cerrar() {
        return cerrar_sesion_usuario();
    }
    
</script>


    <title>Página sin título</title>
    <style type="text/css">
   
         .link {
            font-family: Tahoma, Arial, Helvetica, sans-serif;
	        font-size:11px;
	        margin:0px 0 0 0;
	        padding:0;	
	        background-repeat:repeat;	
	        background-color:#E2E2E2;
	        color:#58A746;	      
         }

      
	</style>
</head>
<body>
    <form id="form1" runat="server">
    <br />
    <div>
        &nbsp;</div>
    
    <table border="0" style="width: 80%; height: 1071px;" align="center"
        id="tabla_imprimir">
                
        <tr style="border-style:solid">
            <td align="center">
                 
                &nbsp;</td>
        </tr>
    </table>
    </form>
</body>
</html>
