﻿
.fuente {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#58A746;
}


body {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	margin:0px 0 0 0;
	padding:0;	
	background-repeat:repeat;	
	background-color:#FF7920;
	color:#000000;	
}


.main {
	width:874px;
	margin:0px auto;
	text-align:left;
	border:1px solid #807C7C;
	background-color:#E2E2E2;
	color:#000000;
	height:751px auto;
}


form{
	margin:0;
	padding:0;
	height: 1658px;
	width: 1283px;
}

#header{		
	position: relative;
	height:65px;
	width:872px;
    clear:left;
	margin: 0; padding: 0;
	top: 0px;
	left: 0px;	
		
}



.top{
	border:1px solid #807C7C;
	margin:5px;
	width:863px;
}


h1 {
	padding:5px 0 0 20px;
	margin:0;
	font-size:28px;
	font-weight:normal;
	color:#58A746;
	background-color:inherit;
	font-family:"Trebuchet MS", verdana, arial, sans-serif;
}



.title{
	text-align:left;
	text-indent:5;
	padding:0px 0px 0px 0px;
	width: 863px;
	height: 39px;
	background-image: url('../imagenes/barra_cabecera.png');
	font-family:Arial;
	font-size:xx-large;
	color:#FFFFFF;
	font-weight:bold;
}



.menu{
	position:absolute;
	top:87px;
	width:754px;
	margin:8px 3px 0px 3px;
	height:34px;
}


#footer{
	position:relative;
	top: 333px;
	left: -8px;
	height: 12px;
	width: 762px;
}

.footer{
	border:1px solid #807C7C;
	margin:5px 3px 5px 5px;
	padding:7px 5px;
	height:14px;
}


.content{
	position:relative;
	width:860px;
	margin:2px 5px  20px 5px;
	border:1px solid #807C7C;
	top: 14px;
	left: 1px;
	height:auto;  
}










.recomendaciones {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: x-small; 
	font-style: normal; 
	font-variant: normal; 
	color: #000000;
	padding-bottom:5px;
}



.encabezado{
	background-image:url('../imagenes/barra.png');
	background-color:#58A746;
	color:#FFFFFF;
	font-size:12px;
	border-left:1px solid #FFFFFF;
}


.titulo1{
	background-color:#287BC1;
	color:#FFFFFF;
	font-size:18px;	
	font-weight: bold;  
}



.titulo{
	background-color:#287BC1;	color:#FFFFFF;
	font-size:12px;
	border-left:1px solid #FFFFFF;
}




.degrade {
	background: url('../imagenes/gradient-dark.png') repeat-x;
	position: absolute;
	
	width: 863px;
	height: 29px;
	top: 18px;
	left: 211px;
}


.titulo_tabla{
    background-color:Gray;
    color:#FFFFFF;
    font-size:8;
    font-weight:bold;
    text-align:center;
      
    border-left:1px solid #FFFFFF;
    height:10px;
    
}


.table_detalle {
  border-style:double;
  border-spacing:12px;
 }
