﻿.boton {
	width:90%;
	background-color:#72A545;
	line-height: 35px;
	
	margin: 2px 5px 2px 5px;
	color: #fff;
	font-size: 1em;
	font-weight:bold;
	text-decoration: none;
	cursor:pointer;
	
}

.boton:hover  {
	color:white;
	background-color:Gray;	
}

.boton_gris2 {
	width:90%;
	background-color:grey;
	line-height: 35px;
	
	margin: 2px 5px 2px 5px;
	color: #fff;
	font-size: 1em;
	font-weight:bold;
	text-decoration: none;
	cursor:pointer;
	
}

.boton_gris2:hover  {
	color:grey;
	background-color:#C4C4C4;	
}


 
 .boton_load {		
	background-color:#72A545;

	
	margin: 2px 5px 2px 5px;
	color: #fff;
	font-size: 1em;
	font-weight:bold;
	text-decoration: none;
	cursor:pointer;
	
}

.boton:hover  {
	color:white;
	background-color:Gray;	
}






.boton_verde {
	height: 30px;
	width:90%;
	background: url(../imagenes/btn_verde.png);
	line-height: 35px;
	
	margin: 2px 5px 2px 5px;
	color: #fff;
	font-size: 1em;
	font-weight:bold;
	text-decoration: none;
	cursor:pointer;
	
}

.boton_gris {
	height: 30px;
	width:90%;
	background: url(../imagenes/btn_gris.png);
	line-height: 35px;
	margin-top:0px;
	margin: 2px 5px 2px 5px;
	color: #58A746;
	font-size: 1em;
	font-weight:bold;
	text-decoration: none;
	cursor:pointer;
}



.boton_verde_clave {
	height: 30px;
	width:50%;
	background: url(../imagenes/btn_verde.png);
	line-height: 35px;
	
	margin: 2px 5px 2px 5px;
	color: #fff;
	font-size: 1em;
	font-weight:bold;
	text-decoration: none;
	cursor:pointer;
	
}

.boton_gris_clave {
	height: 30px;
	width:90%;
	background: url(../imagenes/btn_gris.png);
	line-height: 35px;
	margin-top:0px;
	margin: 2px 5px 2px 5px;
	color: #58A746;
	font-size: 1em;
	font-weight:bold;
	text-decoration: none;
	cursor:pointer;
}




.boton_generico_verde {
	background: url(../imagenes/btn_verde.png);
	line-height: 35px;
	
	margin: 2px 5px 2px 5px;
	color: #fff;
	font-size: 1em;
	font-weight:bold;
	text-decoration: none;
	cursor:pointer;
}


.boton_generico_gris {
	background: url(../imagenes/btn_gris.png);
	line-height: 35px;
	
	margin: 2px 5px 2px 5px;
	color: #fff;
	font-size: 1em;
	font-weight:bold;
	text-decoration: none;
	cursor:pointer;
}