﻿body
{
}

.modalBackground
{
	background-color: Gray;
	filter: alpha(opacity=50);
	opacity: 0.50;
}



.updateProgress
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	position: absolute;
	width: 197px;
	height: 20px;
	padding:20px 20px 20px 20px;
	top: 1548px;
	left: 423px;
}
