﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="webfrmindex.aspx.vb" Inherits="web_tish.webfrmindex" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
       
      
    
    <link rel="stylesheet" href="css/estilos_genericos.css" type="text/css" />
    <%           
        'Seteo el css que voy a utilizar
        Dim mPath_css As String
        mPath_css = ""
        mPath_css = System.Configuration.ConfigurationManager.AppSettings("css").ToString.Trim()    
        Response.Write("<link rel='stylesheet' href='css" & mPath_css.ToString.Trim & "/estilos_genericos.css' type='text/css' />")
    %>
        
    <link rel="icon" href="favicon.ico"  type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    
        
    <title>Sistema TISH ::  </title>
</head>
<body>
    <form id="form1" runat="server">
        <div align="center" style="height: 570px">
       
           <div>
                <img src="imagenes/gmdq.jpg" alt="" height="358" width="605" />                
           </div>
           <br/>
        
            <div width="500" height="450"  style="width:auto;">
                <table style="width:auto">
                    <tr><a>
                        <th class="button-box" onClick="window.location='paginas/webfrmlogin.aspx';">
                             INGRESO <BR> CONTRIBUYENTES
                          
                        </th></a>
  
                        <th class="space"></th> 
                        <a>
                        <th class="button-box" onClick="window.location='local/webfrmlogin_rafam.aspx';" >
                            INGRESO <BR> ADMINISTRADORES

                       </th> </a>
                   </tr>
                   <tr><th style="font-size: 12px; "></th> <th></th> <th></th> </tr>      
                </table> 
                
                
            </div>
            
                          
            
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />  
        <br />
    
    </div>
    </form>
</body>
</html>
