﻿/* Inicio globos */
.Globo{
	padding:5px;
	/*font-weight: bold; */
	text-align:center;
	text-shadow: #CCCCCC 0px 1px 1px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.Globo.GlbYellow{
	background:#FFFFCC;
	border:1px solid #FFCC33;
}
.Globo.GlbRed{
	background:#FFEBE8;
	border:1px solid #DD3C10;
}
.Globo.GlbGreen{
	background:#E8FFEA;
	border:1px solid #15DD10;
}
.Globo.GlbBlue{
	background:#E9E8FF;
	border:1px solid #1015DD;
}
.Globo.GlbBlack{
	background:#ECECEC;
	border:1px solid #000000;
}
/* Fin globos */