
        <!-- ajax -->       
        <script type="text/javascript" language="javascript" src="../js/jquery1-2-6-min.js"></script>
        <script type="text/javascript" language="javascript">  
		
			/* Creo el popup para agregar periodos */
            function ajax_add_periods(){   
                jQuery.ajax({
                    type:"POST", 
                    url:"../controladores/handler_add_period.ashx",                                                            
                    data:"action=new",
                    success: see_response_add_period
                });
            }
            
            
            function see_response_add_period(html){   
				var _control;                
				
                if (html != '') {                    
                	_control = window.document.getElementById('div_conteiner_data');                   
					_control.innerHTML = html;         
                }
                
            return true;    
            }          
        </script>


	<div id="div_conteiner_data" style="padding-top:20px; width:100%;" align="center" >
		   <table id="table" border="0" style="width: 60%; background-color: #FFFFFF; color: #000000;" align="center">

			   <tr>
					<td align="center">
						<div><h3>El periodo se ha guardado exitosamente</h3></div>
					</td>
				</tr>    
				
				<tr>
					<td align="center">
						<a href="#" onClick="javascript:ajax_add_periods();">Debe agregar un nuevo periodo</a>
					</td>
				</tr>
				
												 
			</table>
		</div>			
			
		 


