﻿.form  {
	 background-color:#fff;
	 width:100%;	
	 padding-top:25px;
	}
	
	
a {color: #666; text-decoration: none; background-color: transparent;}
a:hover {color: #99CC00;}


 

.barra{
	/*1777B1*/
	background-color:#285478;
	height: 15px;
	width:858px;
	

	color:#FFFFFF;
	font-size:12px;
	border-left:1px solid #FFFFFF;
	margin-bottom: 0px;
	border-style:double;
	border-width:1px;
	border-color:Black;
}


.barra_mouseover{
	background-color:#285478;
	height: 15px;
	width:auto;
	
	
	color: Black;
	font-size:12px;
	font-weight:bold;
	border-left:1px solid #FFFFFF;
	}


.barra_mouseout{
	background-color:#2A75C5;
	height: 15px;
	width:auto;
	
	
	color:#FFFFFF;
	font-size:12px;
	border-left:1px solid #FFFFFF;
}




#header span#logo-text {
	position: absolute;
	margin: 0; padding: 0;
	font: bolder 2.8em 'Trebuchet MS', Arial, Sans-serif;
	letter-spacing: -2px;
	color: #000000;
	text-transform: none;
	
	/* change the values of top and right to adjust the position of the logo*/
	top: 10px; right: 5px;	
}


#header h2#slogan {
	position: absolute;
	margin: 0; padding: 0;
	font: bold 1em 'Trebuchet MS', Arial, Sans-serif;
	text-transform: none;
	letter-spacing: 1px;
	color: #000000;
	
	
	/* change the values of top and right to adjust the position of the slogan*/
	top: 50px; right:5px;		
}


#header span#logo-text_listado {
	position: absolute;
	margin: 0; padding: 0;
	font: bolder 2.8em 'Trebuchet MS', Arial, Sans-serif;
	letter-spacing: -2px;
	color: black;
	text-transform: none;
	
	/* change the values of top and right to adjust the position of the logo*/
	top: 25px; right: 5px;	
}


#header h2#slogan_listado {
	position: absolute;
	margin: 0; padding: 0;
	font: bold 1em 'Trebuchet MS', Arial, Sans-serif;
	text-transform: none;
	letter-spacing: 1px;
	color: black;
	
	
	/* change the values of top and right to adjust the position of the slogan*/
	top: 65px; right:5px;		
}




 .body_menor {	
 	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:10px;
	margin:0px 0 0 0;
	padding:0;	
	background-repeat:repeat;	
	background-color:#E2E2E2;
	color:#000000;	
}


.body_igual {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	margin:0px 0 0 0;
	padding:0;	
	background-repeat:repeat;	
	background-color:#E2E2E2;
	color:#000000;	
}


.body_mayor {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:11.5px;
	margin:0px 0 0 0;
	padding:0;	
	background-repeat:repeat;	
	background-color:#E2E2E2;
	color:#000000;	
}  



#container_font {
	width:98%; 
	height:20%; 
	float:left; 
	padding-left:10px; 
	background-color: black; 
	background:black;
}

.div_font {width:4%; float:left;}

.link_font {
	font-family: Jokerman; 
	font-size: large; 
	font-weight: bold;
	color:#666;
}
link_font:hover {color: #99CC00;}
