﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="webfrmerrorweb.aspx.vb" Inherits="web_tish.webfrmerrorweb" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
       
       
    
    <link rel="stylesheet" href="../css/estilos_genericos.css" type="text/css" />
    <%           
        'Seteo el css que voy a utilizar
        Dim mPath_css As String
        mPath_css = ""
        mPath_css = System.Configuration.ConfigurationManager.AppSettings("css").ToString.Trim()    
        Response.Write("<link rel='stylesheet' href='../css" & mPath_css.ToString.Trim & "/estilos_genericos.css' type='text/css' />")
    %>
        
    <link rel="icon" href="../favicon.ico"  type="image/x-icon" />
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    
        
    <title>Sistema TISH</title>
</head>
<body>
    <form id="form1" runat="server">
        <div align="center" style="height: 570px">
       
            <div>
                <img src="../imagenes/error.jpg" alt="" width="361" height="330"  style="width:30%;"/>                
           </div>
            <br />
            <div style="width:100%; text-align:center; padding-right:5px;" >
                <a href="webfrmlogin.aspx"  class="link">Ir al home</a>                
            </div>
        </div>
    </form>
</body>
</html>

