﻿.columna_titulo{
	width: 40%;
	text-align:center;
}

.columna_dato{
	width: 60%;
	text-align:center;                  	          
}


.columna_titulo_comercio{
	width: 40%;
	text-align:left;
}

.columna_dato_comercio{
	width: 70%;
	text-align:left;                  	          
}



.columna_titulo_left{
	width: 40%;
	text-align:left;
	padding-left:5px;
}


.columna_titulo_right{
	width: 40%;
	text-align:right;
	padding-left:5px;
}

.columna_dato_left{
	width: 60%;
	text-align:left;                  	          
	padding-left:5px;
	padding-right:5px;
}


.textbox {
	text-align:center;
    vertical-align:middle;
    margin:2px;
    width:80%;
	border:1px solid #807C7C;
	margin-left: 0px;
}



.textbox_captcha {
	color:#595b4d;
    text-align:center;
    vertical-align:middle;
    margin:2px;
    width:80%;
	border:1px solid #807C7C;
	margin-left: 0px;
}




.captcha {
	width: 40%;
    text-align: center;
}

 
.link { 
	color: #595b4d;
	background: inherit;
	text-decoration: none;
}



.link:hover {
	color: #121212;
	background: inherit; 	 
}




.textbox_captcha {
     text-align:center;
      margin-bottom:2px;
}


.titulo {
	padding: 8px 0 3px 25px;
	text-transform: none;	
	border-bottom: 2px solid #f2f2f2;	
	color: #595b4d;	
	font-size: 1.3em;
	font-weight:bold;
}
	
	
.titulo_tabla {
	background-color:black;
    color:#FFFFFF;
    font-size:8;
    font-weight:bold;
    text-align:center;
      
    border-left:1px solid #FFFFFF;
    height:10px;
}

.fila_tabla_comercio{
	 height:30px;
}	


.textbox_onfocus {
	text-align:center;
    margin:2px;
    width:80%;
    border:1px solid #807C7C;
	margin-left: 0px;

	border-color:Gray;
	background-color:#FFFF80;
}

.textbox_onblur {
	text-align:center;
    margin:2px;
    width:80%;
    border:1px solid #807C7C;
	margin-left: 0px;

	border-color:black;
	background-color:white;
}


 .body_menor {
	background-color: #FFF;
 	color: #555; 
 	font: 60%/1.5  Verdana, 'Trebuchet MS', arial, sans-serif;
 	text-align: left; 
 	margin: 15px 0;
}


.body_igual {
	background-color: #FFF;
 	color: #555; 
 	font: 70%/1.5  Verdana, 'Trebuchet MS', arial, sans-serif;
 	text-align: left; 
 	margin: 15px 0;
}


.body_mayor {
	background-color: #FFF;
 	color: #555; 
 	font: 80%/1.5  Verdana, 'Trebuchet MS', arial, sans-serif;
 	text-align: left; 
 	margin: 15px 0;
}  



table.modelborder {
	border-width: 1px;
	border-spacing: 1px;
	border-style: dashed;
	border-color: green;
	border-collapse: collapse;
	background-color: white;
}
table.modelborder th {
	border-width: thick;
	padding: 0px;
	border-style: none;
	border-color: white;
	background-color: rgb(255, 250, 250);
	-moz-border-radius: 0px 0px 0px 0px;
}
table.modelborder td {
	border-width: thick;
	padding: 0px;
	border-style: none;
	border-color: white;
	background-color: rgb(255, 250, 250);
	-moz-border-radius: 0px 0px 0px 0px;
}


 
.titulo_usuario {
	font-family: 'Trebuchet MS', Arial, sans-serif;
	font-weight: bold;
	padding: 0;
	font-size: 1.5em;	

}



/* 
	Estilos para los formularios de operaciones como:
		- Blanquear clave
		- Baja de representante/titulat
		- Activacion de representante/titulat
 */
.column_data1 {
    width: 30%;
    text-align: right;
    padding-left: 5px;                
}

.column_data2 {
    width: 40%;
    text-align: center;
}

.column_data3 {
    width: 30%;
    text-align: left;
}



#container_font {
	width:98.8%; 
	height:20%; 
	float:left; 
	padding-left:10px; 
	background: #00ACEA;

}



.div_font {width:5%; float:left;}


.link_font {
	font-family: Jokerman; 
	font-size: large; 
	font-weight: bold;
	color:White;
	
}



#user{
	 background:#FFF;
	 width:60px; 
	 height:70px; 
	 border:none;	
}



#btnlogout {
	height:45px;
	width:45px;
}
#btnlogout:hover{background:#595b4d;}




.titulo_2 
{
	color:#595b4d;
	font-family: 'Trebuchet MS', Arial, sans-serif;	 
	font-weight: bold;
	padding: 0;
	font-size: 1em;	
	
	}
	
	
	
.titulo_3 {
	color:BLACK;
	font-family: 'Trebuchet MS', Arial, sans-serif;	 
	font-weight: bold;
	padding: 0;
	font-size: 1.3em;		
}

.columna_eliminar {cursor:pointer;}


.div_image_logo {float:left; padding-top:0px;}
.image_logo {width:320px; height:108px;}


.titulo_page {
	color:White;
	font-family: 'Trebuchet MS', Arial, sans-serif;	 
	font-weight: bold;
	padding: 0;
	font-size: 1.3em;		
	padding-left:5px;
}


.table_periods {
	width:580px; 
	border-left:1px solid #c6d5e1; 
	border-top:1px solid #c6d5e1; 
	border-bottom:none; 
	margin:0 auto 15px
}


.table_periods th {background-color:black; text-align:left; color:#cfdce7; border:1px solid #C0C0C0; border-right:none}
.table_periods th h6 {font-size:10px; padding:6px 8px 8px}
.table_periods td {padding:4px 6px 6px; border-bottom:1px solid #C0C0C0; border-right:1px solid #C0C0C0}
.table_periods .head h6 {background:url(images/sort.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.table_periods .desc, .sortable .asc {background-color:#5b6951}
.table_periods .desc h6 {background:url(images/desc.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.table_periods .asc h6 {background:url(images/asc.gif) 7px  center no-repeat; cursor:pointer; padding-left:18px}
.table_periods .head:hover, .sortable .desc:hover, .sortable .asc:hover {color:#fff}
.table_periods .evenrow td {background:#fff}
.table_periods .oddrow td {background:#ecf2f6}
.table_periods td.evenselected {background:#ecf2f6}
.table_periods td.oddselected {background:#dce6ee}


.link_add_periods{background:url(../imagenes/delete.gif) 7px  center no-repeat; cursor:pointer; padding-left:18px}




 




.footer_grupomdq {
	  width:28%; 
	  height:100%;  
	  float:right; 
	  padding-top:5px; 
	  padding-right:5px; 
	  text-align:right;
}


.menu_options {
	width:24%;  
	height:100%; 
	float:right;
}


.table_login  {	
	border-style: double; 
	width:45%; 
	height: 136px; 	
	}
	
	
.table_login_column1{
	width: 30%;
	text-align:center;
}

.table_login_column2{
	width: 70%;
	text-align:center;   
}

.table_login_captcha {
	width: 40%;
    text-align: center;
}


.tabla_rubros_ddjj {
	width:610px; 
	border-left:1px solid #c6d5e1; 
	border-top:1px solid #c6d5e1; 
	border-bottom:none; 	
}