﻿.boton_verde {
	height: 35px;
	width:30%;
	/* background: url(../imagenes/btn_verde.png); */
	background-color:#A3BD31;
	line-height: 35px;
	margin-top:15px;
	padding: 0px 10px;
	color: #fff;
	font-size: 1em;
	text-decoration: none;
	cursor:pointer;
}

.boton_gris {
	height: 35px;
	width:30%;
	background-color:#999999;
	line-height: 35px;
	margin-top:15px;
	padding: 0px 10px;
	color: #fff;
	font-size: 1em;
	text-decoration: none;
	cursor:pointer;
}

#div_contenedor_botones {
    width:100%;
    text-align:center;
}

#div_boton_informe_deuda {
    float:left;
}

#div_boton_vencidos {
    display: inline;
    margin:0 auto;

}

#boton_informe_deuda{
    margin-left: 50px;
}

#div_boton_pago_online {
    margin-right: 50px;
    float:right;
}

#boton_pago_online{
    font-weight: bold;
}

#div_link_no_vencidos{
    width:100%;
    text-align:center;
}

#div_boton_no_vencidos{
    margin-left: 50px;
    float:left;
}

#div_boton_pago_online_no_vencidos{
    margin-right: 50px;
    float:right;
}

#boton_pago_online_no_vencidos{
    font-weight: bold;
}