
<style>
	.column_title{ width:40%; text-align:right;}
	.column_data{ width:60%; text-align:left;}
	
	
.textbox_onfocus {
	text-align:center;
    width:80px;
	border:1px solid #807C7C;
	border-color:Gray;
	background-color:#FFFF80;
}


.textbox_onblur {
	text-align:center;
    width:80px;
	border:1px solid #807C7C; 
	border-color:black;
	background-color:white;
}	


.boton {
	height: 30px;
	width:90px;
	background-color:#5b6951;
	line-height: 35px;
	
	margin: 2px 5px 2px 5px;
	color: #fff;
	font-size: 1em;
	font-weight:bold;
	text-decoration: none;
	cursor:pointer;
	
}

.boton:hover  {
	color:white;
	background-color:Gray;	
}

	
</style>



<script language="javascript" type="text/javascript">

    // this function assign the style the control   
    function event_focus(control_txt) {              
                  	    
        /* I assign the style */
        if (control_txt.className=='textbox_onfocus') {
            control_txt.className='textbox_onblur';
        } else {
            control_txt.className='textbox_onfocus';
        }    
    }
	
	
	
	function key_up_txt(e, p_control) {
            
        pressed_key = (document.all) ? e.keyCode : e.which;
        if (pressed_key == 13){
            document.getElementById(p_control).focus();    
        }
       
    }

</script>


 <!-- ajax -->       
<script type="text/javascript" language="javascript" src="../js/jquery1-2-6-min.js"></script>
<script type="text/javascript" language="javascript">

	/* Carga modal */
	function ajax_add_period() {   
		var _year;
		var _quota;
		var _date_presentation;	
		var _date_quota;


		/* Asigno los valores cargados */
		_year = window.document.getElementById('txtyear').value;
		_quota = window.document.getElementById('txtquota').value;                   
		_date_quota = window.document.getElementById('txtdate_quota').value;
		_date_presentation = window.document.getElementById('txtdate_presentation').value;


		jQuery.ajax({
			type:"POST", 
			url:"../controladores/handler_add_period.ashx",
			data:"action=save&year=" + _year + "&" + "quota=" + _quota + "&" + "date_quota=" + _date_quota + "&" + "date_presentation=" + _date_presentation,
			success: see_response
		});
	}
	
	
	function see_response(html){                   
		var _control;
		
		if (html != '') {		
		    _control = window.document.getElementById('div_container_popup');                   
			_control.innerHTML = html;                               
			return false;
		}
		
	return true;    
	}          
	
	
	
	function cancel_prueba() {
	alert('hola');
		window.document.getElementById('light').style.display='none';
		window.document.getElementById('fade').style.display='none';
		
	
	}
	
</script>



<!-- mascara Fechas -->
<script type="text/javascript" src="mask/jquery.js"></script>
<script type="text/javascript" src="mask/jquery.min.js"></script>
<script type="text/javascript" language="javascript"  src="mask/jquery.maskedinput.js"></script>
<script type="text/javascript">
	jQuery(function($){
		$("#txtdate_presentation").mask("99/99/9999"); 
	});
</script>





	<div id="div_container_popup" style="padding-top:20px; width:100%;" align="center" >
                       
		<div>	
			<h3>Recurso: #VAR_RESOURCE</h3>
		</div>					   
					   
					       
		   <table id="table" border="0" style="width: 80%; background-color: #FFFFFF; color: #000000;" align="center">
			
				<tr>
					<td class="column_title" align="right">A&ntilde;o:</td>
					<td class="column_data">
						<input id ="txtyear" type="text" class="textbox_onblur" maxlength="4" 
							onblur="javascript:event_focus(this);" 
							onfocus="javascript:event_focus(this);" 
	   					    onkeyup="javascript:key_up_txt(event, 'txtquota');" />
					</td>
				</tr>
				
				
				<tr>
					<td class="column_title" align="right">Cuota:</td>
					<td class="column_data">
						<input id ="txtquota" type="text"  class="textbox_onblur"  maxlength="2"
							onblur="javascript:event_focus(this);" 
							onfocus="javascript:event_focus(this);"
							onkeyup="javascript:key_up_txt(event, 'txtdate_presentation');" />
					</td>
				</tr>


				<tr>
					<td class="column_title" align="right">Fecha presentacion:</td>
					<td class="column_data">
						<input id ="txtdate_presentation" type="text" class="textbox_onblur" 
							onblur="javascript:event_focus(this);" 
							onfocus="javascript:event_focus(this);"
							onkeyup="javascript:key_up_txt(event, 'txtdate_quota');">
					</td>
				</tr>
				
				


				<tr>
					<td class="column_title" align="right">Fecha cuota:</td>
					<td class="column_data">
						<input id ="txtdate_quota" type="text" class="textbox_onblur" 
							onblur="javascript:event_focus(this);" 
							onfocus="javascript:event_focus(this);"
							onkeyup="javascript:key_up_txt(event, 'btnsave');" />
					</td>
				</tr>
				
				
				<tr>
					<td  colspan=2 align="center">
						<div style="width:100%" align="center">
							<input id ="btnsave" type="button" value="Agregar"   class="boton" onclick="javascript:ajax_add_period();" />
							<input id ="btncancel" type="button" value="Cancelar"   class="boton" onclick="javascript:cancel();" />
						</div>                
					</td>
				</tr> 
			 
			   
												 
			</table>
						
			                                                               
	</div>


	 
	 

