
	 	  
<div id="container">

  <div>
        <div align="center">
            <strong>Preguntas frecuentes:</strong>
			
			
        </div>
      <p><strong>&iquest;Que es Sistema SAE?</strong>
		  <br />
	    El Sistema SAE es un servicio que le permite gestionar sus declaraciones  juradas a trav&eacute;s de Internet, realizando consultas, presentando declaraciones, rectificativas  o imprimiendo comprobantes de pago con la mayor comodidad, en forma remota,  desde cualquier lugar y en cualquier momento, contribuyendo de esta manera al  mejor uso de su tiempo. </p>
		
        <p>		
		  <strong>&iquest;En qu&eacute; horarios puedo operar?</strong>
		  <br />
		  Puede operar las 24 Horas, los 365 d&iacute;as del a&ntilde;o. <br>
	    </p>
		
		
        <h2>Ingresar por primera vez</h2>
        <ol>
          <li>
            <strong><p>&iquest;Qu&eacute; necesito para poder operar con el Sistema SAE?</p></strong>
            Para operar con el Sistema SAE es necesario:
            <ul>
              <li>Tener una computadora con conexi&oacute;n a Internet. Es aconsejable que utilice firewall y tenga un antivirus actualizado.</li>
              <li>Tener instalado el Microsoft Internet Explorer 6 Service Pack 2 o superior, el Firefox 3 o superior </li>
              <li>Usuario y clave para operar con el Sistema SAE.</li>
            </ul>
          </li>
          <li>
            <strong><p>&iquest;C&oacute;mo obtengo el usuario y la clave para operar?</p>
            </strong>
            Es muy sencillo, para obtener &quot;usuario y Clave, debe dirigirse &quot;por &uacute;nica vez&quot; al palacio municipal y solicitar su usuario y clave para realizar  el primer ingreso desde Internet. </li>
          <li>
            <strong><p>&iquest;Qu&eacute; debo hacer para ingresar &quot;por primera vez&quot; al Sistema SAE?</p></strong>
            La primera vez que desee operar con el Sistema SAE deber&aacute;:
            <ul>
              <li>Ingresar su usuario y la clave adquirida en el palacio municipal </li>
              <li>Remplazar la clave de acceso por una que usted desee  (De entre 6 a  20 letras o n&uacute;meros) seleccionados por Usted.</li>
            </ul>
          </li>
          <li>
            <strong><p>&iquest;Cu&aacute;ndo debo utilizar el teclado virtual?</p>
            </strong>
          Si va a ingresar al Sistema SAE utilizando una computadora de un sitio p&uacute;blico (locutorios, cybercaf&eacute;s, etc.), le recomendamos seleccionar la opci&oacute;n: &quot;Usar teclado virtual&quot;. Si accede desde una PC de uso p&uacute;blico marque   aqu&iacute;.Al seleccionar la opci&oacute;n se mostrar&aacute; en pantalla el teclado virtual que ser&aacute; el que deber&aacute; utilizar  cada vez que  ingrese su clave. </li>
          <li>
		  
            <strong>
            <p>&iquest;Qu&eacute; debo hacer si olvid&eacute; mi &quot;Clave de acceso&quot;?</p>
            </strong>
            En caso de haber olvidado su &quot;Clave de acceso&quot;, deber&aacute; dirigirse  nuevamente al palacio municipal, solicitar una nueva clave y realizar los pasos descriptos en los punto  anteriores. </li>
        </ol>
      <strong><p>&nbsp;</p></strong></div>


</div>
	 	  
	 	   
	
	