﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="webfrmpdf.aspx.vb" Inherits="web_tributaria.webfrmpdf" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
</head>
<body style="height:100%; height:100%;">

        <%  
            If (Session("pdf") IsNot Nothing) Then
                Dim strURL As String = Session("pdf").ToString().Trim()                
                Response.Write("<embed id='pdf' name='plugin' src='../../comprobantespdf/" & strURL & ".pdf' type='application/pdf'  style='width:100%; height:700px;'>")                
            End If
        %>
   	    
</body>
</html>
