﻿.columna_titulo{
	width: 40%;
	text-align:center;
}

.columna_dato{
	width: 60%;
	text-align:center;                  	          
}


.columna_titulo_comercio{
	width: 40%;
	text-align:left;
}

.columna_dato_comercio{
	width: 60%;
	text-align:left;                  	          
}



.columna_titulo_left{
	width: 40%;
	text-align:left;
	padding-left:5px;
}


.columna_titulo_right{
	width: 40%;
	text-align:right;
	padding-left:5px;
}

.columna_dato_left{
	width: 60%;
	text-align:left;                  	          
	padding-left:5px;
	padding-right:5px;
}


.textbox {
     text-align:center;
     vertical-align:middle;
     margin:2px;
     width:80%;

	border:1px solid #807C7C;
	margin-left: 0px;

     /*height:25px;*/
}



.textbox_captcha {
	color:#006699;
    text-align:center;
    vertical-align:middle;
    margin:2px;
    width:80%;
	border:1px solid #807C7C;
	margin-left: 0px;
}


.captcha {
	width: 40%;
    text-align: center;
}

 
.link { 
	color: #006699;
	background: inherit;
	text-decoration: none;
}


.textbox_captcha {
     text-align:center;
      margin-bottom:2px;
}


.titulo {
	padding: 8px 0 3px 25px;
	text-transform: none;
	
	border-bottom: 2px solid #f2f2f2;	
	color: #006699;	
	font-size: 1.3em;
	text-transform: uppercase;
	font-weight:bold;
}
	
	
.titulo_tabla {
	background-color:black;
    color:#FFFFFF;
    font-size:8;
    font-weight:bold;
    text-align:center;
      
    border-left:1px solid #FFFFFF;
    height:10px;
}

.fila_tabla_comercio{
	 height:30px;
}	


.textbox_onfocus {
	text-align:center;
    margin:2px;
    width:80%;
    	border:1px solid #807C7C;
	margin-left: 0px;

	border-color:Gray;
	background-color:#FFFF80;
}

.textbox_onblur {
	text-align:center;
    margin:2px;
    width:80%;
    	border:1px solid #807C7C;
	margin-left: 0px;

	border-color:black;
	background-color:white;
}


 .body_menor {
	background-color: #006699;
 	color: #555; 
 	font: 60%/1.5  Verdana, 'Trebuchet MS', arial, sans-serif;
 	text-align: left; 
 	margin: 15px 0;
}


.body_igual {
	background-color: #006699;
 	color: #555; 
 	font: 70%/1.5  Verdana, 'Trebuchet MS', arial, sans-serif;
 	text-align: left; 
 	margin: 15px 0;
}


.body_mayor {
	background-color: #006699;
 	color: #555; 
 	font: 80%/1.5  Verdana, 'Trebuchet MS', arial, sans-serif;
 	text-align: left; 
 	margin: 15px 0;
}  



table.modelborder {
	/*border-width: 0px;
	border-spacing: 0px;
	border-style: dashed;
	border-color: green;
	border-collapse: collapse;
	background-color: white; */
}
table.modelborder th {
	/*border-width: thick;
	padding: 0px;
	border-style: none;
	border-color: white;
	background-color: rgb(255, 250, 250);
	-moz-border-radius: 0px 0px 0px 0px;*/
}
table.modelborder td {
/*	border-width: thick;
	padding: 0px;
	border-style: none;
	border-color: white;
	background-color: rgb(255, 250, 250);
	-moz-border-radius: 0px 0px 0px 0px; */
}


 
.titulo_usuario {
	font-family: 'Trebuchet MS', Arial, sans-serif;
	font-weight: bold;
	padding: 0;
	font-size: 1.5em;	

}



/* 
	Estilos para los formularios de operaciones como:
		- Blanquear clave
		- Baja de representante/titulat
		- Activacion de representante/titulat
 */
.column_data1 {
    width: 30%;
    text-align: right;
    padding-left: 5px;                
}

.column_data2 {
    width: 40%;
    text-align: center;
}

.column_data3 {
    width: 30%;
    text-align: left;
}



#container_font {
	width:98.7%; 
	height:20%; 
	float:left; 
	padding-left:10px; 
	background:black;

}


.link_font {
	font-family: Jokerman; 
	font-size: large; 
	font-weight: bold;	
}


.div_font {width:5%; float:left;}



#user{
	 background:#006699;
	 width:60px; 
	 height:100%; 
	 border:none;	
}

#btnlogout {
	height:45px;
	width:45px;
}
#btnlogout:hover{background:#006699;}



.linea {color:#006699; width:100%;}




.titulo_2 {
	color:#006699;
	font-family: 'Trebuchet MS', Arial, sans-serif;	 
	font-weight: bold;
	padding: 0;
	font-size: 1em;		
}
	
	
.titulo_3 {
	color:#006699;
	font-family: 'Trebuchet MS', Arial, sans-serif;	 
	font-weight: bold;
	padding: 0;
	font-size: 1.3em;		
}


.columna_eliminar {cursor:pointer;}




.div_image_logo {float:left; padding-top:0px;}
.image_logo {width:250px; height:85px;}