﻿.boton {
	height: 30px;
	width:90%;
	background-color:#006699;
	line-height: 35px;
	
	margin: 2px 5px 2px 5px;
	color: #fff;
	font-size: 1em;
	font-weight:bold;
	text-decoration: none;
	cursor:pointer;
	
}

.boton:hover  {
	color:white;
	background-color:Gray;	
}




.boton_load {		
	background-color:#006699;	 
	margin: 2px 5px 2px 5px;
	color: #fff;
	font-size: 1em;
	font-weight:bold;
	text-decoration: none;
	cursor:pointer;
	
}

.boton_load:hover  {	
	background-color:Gray;	
}