﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="webfrmseleccionar_comercio.aspx.vb" Inherits="web_tish.webfrmseleccionar_comercio" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
    
         <!-- I seteo resources -->
        <script src="../js/funciones.js" type="text/javascript"></script>
        <link rel='stylesheet' href='../css/estilos_login.css' type='text/css' />
        <link rel="stylesheet" href="../css/estilos_genericos.css" type="text/css" />        
        <%           
            'Seteo el css que voy a utilizar
            Dim mPath_css As String
            mPath_css = ""
            mPath_css = System.Configuration.ConfigurationManager.AppSettings("css").ToString.Trim()
            Response.Write("<link rel='stylesheet' href='../css" & mPath_css.ToString.Trim & "/estilos_login.css' type='text/css' />")
            Response.Write("<link rel='stylesheet' href='../css" & mPath_css.ToString.Trim & "/estilos_genericos.css' type='text/css' />")
        %>
               
               
        <!-- ajax -->       
        <script type="text/javascript" language="javascript" src="../js/jquery1-2-6-min.js"></script>
        <script type="text/javascript" language="javascript">
                
            /* Carga del logo de la municipalidad */
            function ajax_load_logo(){   
                jQuery.ajax({
                    type:"POST", 
                    url:"../controladores/handler_logo.ashx",                                        
                    success: see_response_logo
                });
            }
            
            
            function see_response_logo(html){                   
                if (html != '') {
                    var _control = document.getElementById('div_header');                   
                    _control.innerHTML = html;                   
                    return false;
                }
                
            return true;
            }
        </script>               


                          
        <!-- funcion doPostBack y quienes las usan -->
        <script type="text/javascript" language="javascript">

            function comercioSeleccionado(p_comercio) { __doPostBack(p_comercio.toString(), ''); }                   
            function __doPostBack(eventTarget, eventArgument) {
                var _form;

                /*if (window.navigator.appName.toLowerCase().indexOf("microsoft") > -1) { */
                /*    _form = document.Form1; */
                /*} else {                */
                    _form = document.forms["formulario"];
                /*} */
            
                _form.__EVENTTARGET.value = eventTarget.split("$").join(":");
                _form.__EVENTARGUMENT.value = eventArgument;
                _form.submit();
            }
        </script>
                
            
            
            
            
            
    
                
        
        
        
        
        <!-- recursos para crear la ventana modal -->
	    <link rel="stylesheet" href="../modal/Assets/LightFace.css" />	
	    <script src="../modal/mootools.js" type="text/javascript"></script>
	    <script src="../modal/mootools-more-drag.js" type="text/javascript"></script>
	    <script src="../modal/Source/LightFace.js" type="text/javascript"></script>
	    <script src="../modal/Source/LightFace.IFrame.js" type="text/javascript"></script>
	    <script src="../modal/Source/LightFace.Image.js" type="text/javascript"></script>
	    <script src="../modal/Source/LightFace.Request.js" type="text/javascript"></script>
	    <script src="../modal/Source/LightFace.Static.js" type="text/javascript"></script>
        

        <!-- Logout -->
        <script type="text/javascript">
        	function logout() {	 	    	 	        
	 	        box = new LightFace({ 
	 			    title: 'Sistema SAE :: Cerrar sesión', 
				    width: 250,
				    height: 50,
	  			    content: '<div align="left">Usted esta a punto de cerrar su sesión.\n¿Desea continuar?</div>',
	 			    buttons: [		
	 			        {
						    title: 'Aceptar',
						    event: function() { this.close(); window.location = "webfrmlogin.aspx"; }
					    },
					    {
						    title: 'Cerrar',
						    event: function() { this.close();}
					    }
				    ]
	 		    });
	 		    box.open();		
	 	    }        
        </script>

       
        
       
       
        <title>Sistema SAE :: Listado de comercios</title>
        <link rel="icon" href="../favicon.ico"  type="image/x-icon" />
        <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />    	 
    </head>


    <body>
    
        
        <!-- div container of the page -->	
        <div id="wrap">
                  
            <!-- div header -->
		    <div id="header">
			
			   <!-- div container font -->
                <div id="container_font">			        
		            <div  style="width:5%; float:left;  padding:0px 5px 0px 5px;">
                        <a href="#" title="Usar fuente menor"  class="link_font" onclick="assign_font('-');">A-</a> 
                    </div>
                    
                    <div  style="width:5%; float:left;">
		                <a href="#" title="Usar fuente por defecto" class="link_font" onclick="assign_font('=');">A</a> 
                    </div>		            
                    
		            <div  style="width:5%; float:left;">
		                <a href="#" title="Usar fuente mayor" class="link_font" onclick="assign_font('+');">A+</a> 
		            </div>	            
                </div>
                   
                   
                <div id="div_header"  class="div_image_logo">                
                    <img  class="image_logo" alt="" src="../imagenes/topiz.jpg"  />
                </div>      
                    
			    <h1 id="logo-text">Tasa por Servicios a la Actividad Económica</h1>			
			    <h2 id="slogan">
                    <asp:Label ID="lblslogan_municipalidad" runat="server" Text=""></asp:Label></h2>	
		    </div>
	  
	  
            <!-- div container page title -->
            <div id="div_title" style="background-color:Black;" align ="left" >
                <strong class="titulo_page">Sistema SAE :: Listado de comercios</strong>
            </div>

	  
	        <!-- div container -->		
	        <div id="content-wrap">
    	  
                 <!-- div sub container -->		
	  		    <div id="main">     	   
                    
                    <!-- -->
                    <div id="div_container" style="width:100%; height:350px;">
                    
                       
                      
                    
                        <!-- div container left -->
                        <div id="div_container_left" style="width:100%; float:left; height:auto;">
                    
                            <!-- saludar usuario -->				
                            <div style="padding-left:20px;">
                                <table>
                                    <tr>
                                        <td>
                                            <img id="user" alt="" src="../imagenes/user.png"  style=" width:60px; height:60px; border:none"/>
                                        </td>
                                        <td>
                                            <h2>                                                
                                                <asp:Label ID="lblname_user" runat="server" Text=""></asp:Label>                                    
                                            </h2>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                    
                            <!-- form -->	
                            <form id="formulario" name= "formulario" action="#">
                    
                                <!-- Controles para utilizar la funcion doPostBack sin controles ASP -->
                                <input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
                                <input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
                                                        
                                <!-- tabla de comercios -->
                                <div id="div_tabla_comercios"  align="center" style="padding:0px 0px 0px 0px;"  runat="server">                                                                                                                                 
                                    <table border= "0">
                                        <tr>
                                            <td align="center" style="width:20%;"><img id="img_load" alt="" src="../imagenes/loading.gif" /></td>
                                            <td align="left" style="width:80%;">Por favor aguarde, se están cargando los comercios asociados ...</td>
                                        </tr>
                                    </table>
                                </div>                                
                                
                                <div id="div_logout" align="center" style="padding:10px 0px 10px 0px;     bottom:auto;">                                    
                                    <a href="#" onclick="javascript:logout();">Cerrar sesión</a>                                    
                                </div> 
                            </form>
                                
                    
                        </div>
                                         
                    </div>
                    
                    
    								
	  		    </div> 	
    			  
		    </div>
	
	
	        <!-- div footer -->	
		    <div id="footer">
		
		   <div id="div_pie_municipalidad" 
                style="width:70%; height:83%;  float:left;   padding-top:5px; padding-left: 5px; ">
		        Municipalidad de
		            <strong> 
		                <asp:Label ID="lblnombre_municipalidad" runat="server" Text="NOMBRE_MUNICIPIO"></asp:Label> 
                    </strong> 
                    
				<br />
				Teléfono: 
				    <strong> 
                        <asp:Label ID="lbltelefono_municipalidad" runat="server" Text="(000) 000000 "></asp:Label> 
                    </strong> 
                 | Email: 
				    <strong> 
                        <asp:Label ID="lblemail_municipalidad" runat="server" Text="info@hola.com.ar"></asp:Label> 
                    </strong> 
                
			</div>
		   
		   <div id="div_pie_grupomdq"  class="footer_grupomdq" >
				Desarrollado por: <strong><a href="http://www.grupomdq.com">&copy;Grupo MDQ S.A</a></strong>  
				<br />
				Válido: <a href="http://validator.w3.org/check?uri=referer">XHTML</a> | 
				<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> |
               <asp:Label ID="lblversion" runat="server" Text=""></asp:Label>
		   </div>
			
			
		</div>	

        
        </div>	
        
    </body>
</html>

