﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="webfrmindex.aspx.vb" Inherits="web_tish.webfrmindex" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
       
      
    
    <link rel="stylesheet" href="css/estilos_genericos.css" type="text/css" />
    <%           
        'Seteo el css que voy a utilizar
        Dim mPath_css As String
        mPath_css = ""
        mPath_css = System.Configuration.ConfigurationManager.AppSettings("css").ToString.Trim()    
        Response.Write("<link rel='stylesheet' href='css" & mPath_css.ToString.Trim & "/estilos_genericos.css' type='text/css' />")
    %>
        
    <link rel="icon" href="favicon.ico"  type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    
        
    <title>Sistema TISH ::  </title>
</head>
<body>
    <form id="form1" runat="server">
        <div align="center" style="height: 570px">
       
           <div>
                <img  src="imagenes/gmdq.jpg" alt="" width="416" height="375"  style="width:25%;"/>                
           </div>
           <br />
        
            <div style="width:100%;">
                <div style="width:48%; float:left; text-align:right; padding-right:5px;" >
                    <a href="paginas/webfrmlogin.aspx"  class="link">Ingreso a Sistema TISH</a>                
                    <br>
                    (Ingreso de contribuyentes)
                </div>
                
                
                <div style="width:48%; float:right; text-align:left; padding-left:5px;" >
                    <a href="local/webfrmlogin_rafam.aspx" class="link">Administración de usuarios Web</a>                
                    <br>
                    (Uso interno)
                </div>
            </div>
             
             <div style="padding-top:3px;" align="center">
                <div style="padding-top:20px; width:100%;"> 
                    <p><strong>Versiones mínimas recomendadas</strong></p>
                </div>
                
                <div align="center">
                    <img alt="" src="imagenes/fire35.gif" />
                    <img alt="" src="imagenes/explo7.gif" />
                </div>
                              
                                
	                            
                Para tener una visualizacion en forma óptima, recomendamos:
                <br />
                Una resolución mínima de pantalla de 1024 x 768 pixeles.
                                
                            
            </div>
             
            
            
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />  
        <br />
    
    </div>
    </form>
</body>
</html>
