﻿.boton_verde {
	height: 35px;
	width:30%;
	/* background: url(../imagenes/btn_verde.png); */
	background-color:#FFDA00;
	line-height: 35px;
	margin-top:15px;
	padding: 0px 10px;
	color: #444444;
	font-size: 1em;
	text-decoration: none;
	cursor:pointer;

}

.boton_gris {
	height: 35px;
	width:30%;
	background-color:#999999;
	line-height: 35px;
	margin-top:15px;
	padding: 0px 10px;
	color: #fff;
	font-size: 1em;
	text-decoration: none;
	cursor:pointer;

}

