﻿
/*
.barra{	
	height: 35px;
	width: 339px;
	
	background-color:#aaa;
	color:#FFFFFF;
	font-size:14px;
	font-family:Arial;
	border: 3px double #aaa; 
	cursor: pointer; 	
}
*/

.mouseover{
	background-image:url('../imagenes/barra.png');
	
	background-color:#aaa;
	color:#FFFFFF;
	font-size:14px;
	font-family:Arial;
	border: 3px double #aaa; 
	cursor: pointer; 	
}






.mouseout{
	background-image:url('../imagenes/barra.png');
	
	background-color:#aaa;
	color:#FFFFFF;
	font-size:14px;
	font-family:Arial;
	border: 3px double #aaa; 
	cursor: pointer; 	
}






.boton_dominio_mouseover{
	cursor:pointer;
	background-color:#999999;
	color:White;  
	margin-left:3px;
	text-align:center; 
	width:105px;
}


.boton_dominio_mouseout {
	cursor:inherit;
	background-color:#FFDA00;
	color:#444444;
	border-bottom-color:#006699;
	margin-left:3px;
	text-align:center; 
	width:105px;
}